.stack-work/
SPL.cabal
*~
*.ir
*.bak
examples/

lib/runtime.o
spl

src/DocSPL.txt

.gdb_history

tests/**
!tests/good/
!tests/good/basic/
!tests/good/array/
!tests/good/class/
!tests/good/lambda/
!tests/good/struct/
!tests/bad/
!tests/bad/basic/
!tests/bad/array/
!tests/**/*.spl
!tests/**/*.out
